body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #fcfcfc;
    color: #333;
}

a{
    text-decoration: none;
}

input, select, textarea, button{font-family:inherit;}

header, #footer {
    background: transparent;
    max-width:1040px;
    margin:10px auto;
    padding:0 20px;
    box-sizing: border-box;
}
footer{
	clear:both;
	padding-top:100px;
}
header, nav, #footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox; 
    display: -ms-flex; 
    display: flex;
     -webkit-align-items: center;
     -moz-align-items: center;
      -ms-align-items: center;
          align-items: center;
        -webkit-justify-content: space-around;
     -moz-justify-content: space-around;
      -ms-justify-content: space-around;
          justify-content: space-around;
            -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
     -moz-flex-wrap: wrap;
}
#footer{
	-webkit-justify-content:space-between;
     -moz-justify-content: 	space-between;
      -ms-justify-content: 	space-between;
          justify-content: 	space-between;
}
nav{
    margin: 0 0 0 auto;
    max-width:350px;
}
nav a{
    margin:5px 10px;
    padding:10px 20px;
    line-height:1em;
    color: #666;
    font-weight:400;
    text-decoration:none;
    position:relative;
    font-size: 16px;
}

nav a:after{
    content: '';
    position:absolute;
    top:0;
    left:50%;
    right:50%;
    bottom:auto;
    height:3px;
    width:auto;
    background-color:#999;
    transition:all 500ms;
    -webkit-transition:all 500ms;
    -moz-transition:all 500ms;
    -o-transition:all 500ms;
}
nav a:hover:after{
    left:0;
    right:0;
}
hr{
    height:1px;
    background-color:transparent;
    border: 1px solid rgba(0, 0, 0, 0.05);;
}

.imageBig{
    width: 100%;
}

a {
    color: #333;
}

.logo{
    font-size: 18px;
    width: auto;
    text-align:left;
    margin:10px auto 10px 0;
}
@media screen and (max-width: 540px){
    header, #footer{
        -ms-flex-direction:column;
        -webkit-flex-direction:column;
         flex-direction:column;
    }
    .logo{
        margin-left:auto;   
    }
    nav {
        margin-right:auto;
    }
}

.imageitem {
    transition: 0.1s;
    float: left;
    width: 240px;
    height: 140px;
    margin-top: 60px !important;
}

.imageitem:hover {
    transition: 0.1s;
    opacity: 0.8;
    cursor: pointer;
}

textarea {
    font-family: 'Open Sans', sans-serif;
}

.imageitem_thumbnail{
    background-color: #000;
    width: 240px;
    height: 160px;
    border: 1px none;
    border-radius: 3px;
    background-size:cover !important;
    background-position: center center !important;    
}

hr{
    display: block; height: 1px;
    border: 0; border-top: 1px solid rgba(0, 0, 0, 0.05);
    margin: 1em 0; padding: 0;
	clear:both;
}

.imageitem p{
    margin: 0px;
    text-align: center;
}

.content {
    margin: 0 auto;
    display: block;
    width: 240px;
}

.container {
    width: 100%;
}

@media only screen and (min-width: 530px) {
    
    .imageitem {
        margin: 10px;
    }
    
    .content{
        width: 520px;
    }
    
    .header-content{
        width: 520px;
    }
 
    .imageBig{
        width: 520px;
    }    
}

@media only screen and (min-width: 790px) {
    .imageitem {
        margin: 10px;
    }
    
    .content{
        width: 780px;
    }  
    
    .imageBig{
        width: 780px;
    }
}

@media only screen and (min-width: 1080px) {
    .imageitem {
        margin: 10px;
    }
    
    .content{
        width: 1040px;
    }
        
    .imageBig{
        width: 1040px;
    }
    
}