body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fcfcfc;
    color: #333;
}

a{
    text-decoration: none;
}

input, select, textarea, button{font-family:inherit;}

header {
    background: transparent;
    height: 65px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    width: 100%;
    margin-top: 10px;
}

nav li {
    transition: 0.2s;
    list-style-type: none;
    display: inline-block;
    position: relative;
    padding-right: 20px;
}

nav li:hover{
    transition: 0.2s;
    color: #999;
}

header nav {
    float: left;
}

.imageBig{
    width: 100%;
}

a {
    color: #333;
}

.logo{
    width: 240px;
    margin: auto;
    margin-top: -20px;
    font-size: 18px;
    float: left;
    padding-top: 10px;
    width: 40%;
    padding-left: 10%;
    float: left;
}

.imageitem {
    transition: 0.1s;
    float: left;
    width: 240px;
    height: 140px;
    margin-top: 60px !important;
}

.imageitem:hover {
    transition: 0.1s;
    opacity: 0.8;
    cursor: pointer;
}

textarea {
    font-family: 'Open Sans', sans-serif;
}

.imageitem_thumbnail{
    background-color: #000;
    width: 240px;
    height: 160px;
    border: 1px none;
    border-radius: 3px;
    background-size:cover !important;
    background-position: center center !important;
    
}

hr{
    display: block; height: 1px;
    border: 0; border-top: 1px solid rgba(0, 0, 0, 0.05);
    margin: 1em 0; padding: 0;
}

.imageitem p{
    margin: 0px;
    text-align: center;
}

.content {
    margin: 0 auto;
    display: block;
    width: 240px;
}

.container {
    width: 100%;
}

footer{
    padding-top: 15px;
    padding-bottom: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    float: left;
    width: 100%;
    margin-top: 100px;
}

#footer{
    margin: 0 auto;
    display: block;
    width: 240px;
    height: 30px;
}

.header-content nav{
    width: 50%;
    float: left;
    text-align: right;
    margin-top: -35px;
}

.header-content{
    margin: 0 auto;
}

.footerInfo {
    float: left;
}

.footerCopyright {
    float: left;
}

@media only screen and (min-width: 530px) {
    
    .footerCopyright {
        float: right;
    }
    
    .imageitem {
        margin: 10px;
    }
    
    .content{
        width: 520px;
    }
    
    #footer{
        width: 520px;
    }
    
    .header-content{
        width: 520px;
    }
    
    .header-content nav{
        margin-top: 0px;
        text-align: right;
    }
    
    .logo{
        margin-top: 0px;
        width: 50%;
        padding-left: 0;
    }
    
    .imageBig{
        width: 520px;
    }
    
}

@media only screen and (min-width: 790px) {
    .imageitem {
        margin: 10px;
    }
    
    .content{
        width: 780px;
    }
    
    #footer{
        width: 780px;
    }
    
    .header-content{
        width: 780px;
    }
    
    .imageBig{
        width: 780px;
    }
}

@media only screen and (min-width: 1080px) {
    .imageitem {
        margin: 10px;
    }
    
    .content{
        width: 1040px;
    }
    
    #footer{
        width: 1040px;
    }
    
    .header-content{
        width: 1040px;
    }
    
    .imageBig{
        width: 1040px;
    }
    
}